# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Visual Studio files
*.user
*.suo

#Subversion files
.svn

#OS junk files
[Tt]humbs.db
*.DS_Store